@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="w-25">
      <input type="text" class="form-control" id="search" placeholder="Search">
    </div>
    <br />
    <div class="text-center">      
            <table id="table">
                <thead>
                    <tr>
                        <th data-field="id" data-visible="false">Id</th>
                        <th data-field="title">Title</th>
                        <th data-field="description">Description</th>                        
                    </tr>
                </thead>
            </table>
    </div>
</div>
  
@section Scripts { 
<script>
   

    $(function () {

        $table = $('#table');

        $.ajax({
            url: '/?handler=Search',
            contentType: "application/json;",
            dataType: "json",
        }).done(function (data) {

            $table.bootstrapTable({
                data: data.recipes,
                columns: [{}, {}, {},
                {
                    title: 'Ingredients',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false,
                    formatter: function (value, row, index) {

                        var ingredients = [];

                        row.ingredients.forEach(function (i) {                          
                          ingredients.push(i.name);
                        });

                        return ingredients.join(', ');
                    }
                }],
                onClickRow: function (row) {
                    console.log(row.id);
                }
            });

        });

        $("#search").keyup(function () {

            $.ajax({
                url: '/?handler=Search',
                contentType: "application/json;",
                dataType: "json",
                data: { query: $(this).val() },
            }).done(function (data) {

                $table.bootstrapTable('load', data.recipes);
            });
        })
    });
</script>

}