@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <div class="text-center">
        <div class="container">
        

            <table id="table">
                <thead>
                    <tr>
                        <th data-field="id" data-visible="false">Id</th>
                        <th data-field="title">Title</th>
                        <th data-field="description">Description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

  <button id="test"> Test </button>

@section Scripts { 
<script>
   

    $(function () {

        $table = $('#table');

        $.ajax({
            url: '/?handler=Search',
            contentType: "application/json;",
            dataType: "json",
        }).done(function (data) {

            globalData = data.recipes;

            $table.bootstrapTable({
                data: data.recipes,
                columns: [{}, {}, {},
                {
                    field: 'operate',
                    title: 'Delete',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false,
                    formatter: function (value, row, index) {
                        console.log(row)
                        return '<button class=\'btn btn-danger \' pageName="' + row.id + '" pageDetails="' + row.title + '"  >Delete</button> ';
                    }
                }],
                onClickRow: function (row) {
                    console.log(row.id);
                }
            });

        });

        $("#test").click(function (e) {

            $.ajax({
                url: '/?handler=Search',
                contentType: "application/json;",
                dataType: "json",
                data: { filter: "test" },
            }).done(function (data) {

                $table.bootstrapTable('load', data.recipes);
            });
        })
    });
</script>

}